
@{
    ViewBag.Title = "Home Page";
}

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-text-center" uk-grid-parallax="translate:400">
    @for (var i = 0; i < 100; i++)
    {
        <div>
            <div class="uk-background-muted uk-padding">Item #@i</div>
        </div>
    }
</div>