@model ConcertGo.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-text-center" uk-grid-parallax="translate:400">
    @foreach (var file in Model.RecentMedia)
    {
        <div>
            <div class="uk-background-muted uk-padding">
                <img src="@file.File.Url" alt=""/>

                Recent file: @file.File.Id
            </div>
        </div>
    }
    
    @for (var i = 0; i < 200; i++)
    {
        <div>
            <div class="uk-background-muted uk-padding">
                <img src="https://images.unsplash.com/photo-1490723286627-4b66e6b2882a?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb" alt="" />

                Recent file: @i
            </div>
        </div>
    }
</div>